*{
    margin: 0;
    padding: 0;
}
#samples{
    color: rgb(28, 52, 5);
    background-color: aqua;
    border: 10px solid;
    border-color: black;
}
.first {
    border-style: dotted;
    margin: 10px 15px;
    
}
/*my flexbox properties*/
.container{
    background-color: darkcyan;

}
.childcontainer{
    background-color: aqua;
    display: flex;
    /*gap 40px*/
    justify-content: space-between;
}
.bluecontainer{
    border: 3px blue solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-items{
    border: 2px orange solid;
    margin: 5px;
    height: 80px;
    width: 50px;

}